*
!*/
!.github/**
!/include/**
!/test/**
!/docs/**
!.clang-format
!.gitattributes
!.gitignore
!.gitkeep
!LICENSE
!README.md
!build.bat
!.travis.yml
!pipeline.yaml
!.bettercodehub.yml
!*.sh
!requirements.txt
!CMakeLists.txt